<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Savio Dashboard</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'notifications' %}">Notifications</a></li>
    <li><a href="{% url 'job_history' %}">Job History</a></li>
  </ul>

  <p>Code samples from the post <a href="https://simpleisbetterthancomplex.com/tutorial/2018/04/03/how-to-integrate-highcharts-js-with-django.html">How to Integrate Highcharts.js with Django</a></p>
  <p>Grab the code on <a href="https://github.com/sibtc/django-highcharts-example">GitHub</a></p>
</body>
</html>