{% extends 'base.html' %}
{% load new_app_tags %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/notifications.css' %}" type="text/css">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h2 style="margin-left: 150px">{{ the_title }}</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div id="your-notif">
					<div class="list-group le-message">
						<a href="#" class="list-group-item" id="notif-header">
						<p class="list-group-item-heading" id="header-yn"><b>Your Notifications</b></p></a>
						{% if messages %}
						<!--p>acc_id = m['acc_id'] 
						acc_time = m['acc_time'] </p-->
						<a href="#" class="list-group-item">
						<!--p{% if m.tags %} class="list-group-item-heading" {% endif %}> Display count: {{ acc_id }}</p>
						<p class="list-group-item-text">Display date: {{ acc_time }}</p></a-->
						<p class="list-group-item-text">Account ID: <b id="i_acc_id">{{ acc_id }}</b></p>
						<p class="list-group-item-text">Account name: <b id="i_acc_name">{{ acc_name }}</b></p>
						<p class="list-group-item-text">Date updated: <b id="i_acc_date">{{ acc_time }}</b></p></a>
						<script type="text/javascript">
							/*var message_js = { { message | safe } };
							document.getElementById("i_acc_id").innerHTML = message_js.acc_id;
							document.getElementById("i_acc_name").innerHTML = message_js.acc_name;
							document.getElementById("i_acc_date").innerHTML = message_js.acc_time;*/
						</script>
						{% else %}
							<a href="#" class="list-group-item">
								<h5>No user account information available</h5>
							</a>
						{% endif %}
					</div>
				</div>
				<div style="height: 100px;"></div>
			</div>
			<div class="col-md-4">
				<div id="account-notif">
					<div class="list-group le-message">
						<a href="#" class="list-group-item" id="notif-header">
						<p class="list-group-item-heading" id="header-yn"><b>Account Notifications</b></p></a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">Project description: <b id="i_acc_desc">{{ acc_desc }}</b></p>
							<div style="height: 30px;"></div>
							<p class="list-group-item-heading">Account allocation: <b id="i_acc_alloc">{{ acc_alloc }}</b></p>
							<p class="list-group-item-heading">Account balance: <b id="i_acc_balance">{{ acc_balance }}</b></p>
							<div class="row" id="acc-warnings" style="display: none">
								<div style="height: 50px"></div>
								<div class="col-md-12 center-block">
									<button style="display: none" id="acc_warning_btn" type="button" class="btn btn-warning center-block">Warning: <b id="acc_low"></b><b>%</b> of balance remaining.</button>
									<button style="display: none" id="acc_out_btn" type="button" class="btn btn-danger center-block">Warning: Account is empty.</button>
								</div>
							</div>
						</a>
					</div>
					<script type="text/javascript">
						/* document.getElementById("i_acc_desc").innerHTML = message_js.acc_desc;
						document.getElementById("i_acc_alloc").innerHTML = message_js.acc_alloc;
						document.getElementById("i_acc_balance").innerHTML = message_js.acc_balance;*/
						var check_balance = {{ acc_balance }};
						var org_alloc = {{ acc_alloc }};
						var check_ratio = check_balance / org_alloc; 

						if (check_balance <= 0) {
							document.getElementById("acc-warnings").style.display = "block";
							document.getElementById("acc_out_btn").style.display = "block"; 
						} else if (check_ratio <= 0.1) {
							document.getElementById("acc-warnings").style.display = "block";
							document.getElementById("acc_warnings_btn").style.display = "block";
							document.getElementById("acc_low").innerHTML = (check_ratio * 100);
						} else {
							document.getElementById("acc_warnings").style.display = "none";
						}
					</script>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="le-message">
					<h4>Search for an account:</h4>
					<div style="height: 30px;"></div>
					<form action="" method="get">
						<input type="text" name="sample_form" value="">
						<input class="btn btn-primary" type="submit" value="search">
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

<!--
<div class=bs-example data-example-id=list-group-custom-content>
	<div class=list-group>
		<a href=# class="list-group-item active"> 
			<h4 class=list-group-item-heading>List group item heading</h4> 
			<p class=list-group-item-text>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a> 

			<a href=# class=list-group-item> 
				<h4 class=list-group-item-heading>List group item heading</h4> 
				<p class=list-group-item-text>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a> 

			<a href=# class=list-group-item> 
				<h4 class=list-group-item-heading>List group item heading</h4> 
				<p class=list-group-item-text>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a> 
			</div> 
		</div> -->

{% endblock %}
